.something{
  display: none;
}

@media only screen and (max-width:600px) {
.something{
  display: block;
}
.notif{
  display:none;
}


  html,body{
    height: 100%;
    width: 100%;
  }
ul {
  list-style-type: none;
  padding: 0;
  padding-left: 10px;
}
.header{
  display: flex;
  align-items: baseline;
  font-family: lato, sans-serif;
}
.header li:first-of-type{
  font-size: 2em;
  margin-right: auto;
}
.header li:nth-of-type(2){
  margin-right: 40px;
  font-size: 1em;

  color: #e5274e;
}
.music-items li{
  display: flex;
  font-size: 1em;
  border-top: 1px solid #e2e2e2;
  align-items: center;
  color: #e5274e;
  font-family: lato, sans-serif;

}

.music-items p{

  margin-right: auto;
}

.music-items i.fa{
  color: #e2e2e2;
  margin-right: 10px;
  font-size: 0.6em;


}
.music-items li:last-of-type{
  border-bottom: 2px solid #e2e2e2;
}

.recent{
  margin-left:10px;
  font-weight: bold;
  font-family:lato, sans-serif;
  font-size: 1.2em;
  margin-bottom: 0;
}

.album-list{
  display: flex;

  width:100%;
  font-family: lato,sans-serif;
  flex-flow: wrap;
}
.album-list li img{
  width: 100px;
  height: 100px;
}
.album-list li{
  flex: 0 0 40%;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 0px;

}

footer{
  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 15%;

}
.first{
  margin: 0px;
  max-width: 100%;
  border: 1px solid white;
  align-items: center;
  height: 2em;
  display: flex;
  background-color: rgba(2555,255,255,0.85);
  flex: 0 0 auto;
  font-family: lato, sans-serif;
  font-weight: 100;
}
.second{
  margin:0px;
  border: 1px solid white;
  display: flex;
  flex: 0 0 auto;
  width: 100%;
  background-color: #fff;
  height: 4em;
  color: grey;


}

.first ul{
  display: flex;
  align-items:center;
  float: right;
}


.first ul li{
  margin:8px;
  font-size: 1em;

}

.first p{
  margin-right: 40%;
  margin-left: 10px;
  font-size: .8em;

}

.second{
  padding: 0;
  width: 100%;
}


.second li{
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.second li:last-of-type{
  margin-right: 20px;
}
.second p{
  font-size: .8em;
}
.second i.fa{
  font-size: .8em;
}
.first img{
  width: auto;
  height: auto;
  max-width : 2em;
  max-height: 2em;
  margin-left: 0px;
  }

.album-list li p:first-of-type{
  font-size: .8em;
  font-weight: normal;
  margin: 0px;
  flex: 0 0 none;
}

.album-list li p:last-of-type{
  flex: 0 0 none;
  font-size: .6em;
  font-weight: lighter;
  margin: 0px;

}
.stubborn{
  width: 100%;
}


}
